$base-color: #4CAF50;
$desk-size: 400px;

img {
  border-radius: 23px;
  width: $desk-size;
  height: $desk-size;
}
.buttonLoad{
  margin-bottom: 20px;
  margin-left: 37%;
  margin-top: 25px;
  position: relative;
  background-color: $base-color;
  font-size: 28px;
  color: #FFFFFF;
  padding: 20px;
  width: 200px;
  text-align: center;
  transition-duration: 0.4s;
  overflow: hidden;
  cursor: pointer;
}
.buttonLoad:after{
  content: "";
  background: #f1f1f1;
  display: block;
  position: absolute;
  padding-top: 300%;
  padding-left: 350%;
  margin-top: -120%;
  opacity: 0;
  transition: all 0.8s
}
.buttonLoad:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s
}
.block{
  margin-top: 25px;
  margin-left: 37%;
  width: $desk-size;
  height: $desk-size;

}
@media screen and (max-width: 480px){
  img {
    border-radius: 23px;
    width: 250px;
    height: 250px;
  }
  .buttonLoad{
    width: 125px;
    font-size: 14px;
  }
}

@media screen and (max-width: 720px){
  img {
    border-radius: 23px;
    width: 300px;
    height: 300px;
  }
  .buttonLoad{
    width: 175px;
    font-size: 21px;
  }
}
